<%= form_with model: [:category, @painting], url: url, local: true, class: "col-md-5" do |form| %>
    <h3>
      <span class="p-2 badge badge-secondary badge-light">
        <%= action %> Painting in <span class="badge-warning"><%= @category.name %>
      </span>
    </h3>

    <div class="form-group p-2">
      <%= form.label :title %>
      <%= form.text_field :title, class: "form-control" %>
    </div>

    <div class="form-group p-2">
      <%= form.label :size %>
      <%= form.text_field :size, class: "form-control" %>
    </div>

    <div class="form-group p-2">
      <%= form.label :medium %>
      <%= form.text_field :medium, class: "form-control" %>
    </div>

    <div class="form-group p-2">
      <%= form.label :price %>
      <%= form.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group p-2">
      <div class="form-check">
        <%= form.radio_button :new, "true", id: "new", class: "form-check-input", name: "labels" %>
        <%= form.label :new, class: "form-check-label" %>
      </div>

      <div class="form-check">
        <%= form.radio_button :sold, "true", id: "sold", class: "form-check-input", name: "labels" %>
        <%= form.label :sold, class: "form-check-label" %>
      </div>
    </div>

    <div class="custom-file p-2">
      <%= form.file_field :image, class: "custom-file-input" %>
      <%= form.label :image, class: "custom-file-label" %>
    </div>

    <div class="form-group py-4">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    </div>

<% end %>
