<p>
<strong>Category</strong>
<%= @category.name %>
</p>

<p>
There are <%= @category.paintings.count %> paintings in this category.
</p>


<div class="media portfolio d-flex flex-column justify-content-start">
  <% @category.paintings.each do |painting| %>

    <div class="d-flex flex-row mb-auto p-4">

      <div class="media-left">
        <% if painting.image.attached? %>
          <%= link_to painting.image do %>
            <%= image_tag painting.image, class: "media-object" %>
          <% end %>
        <% end %>
      </div>

      <div class="media-body">
        <h4 class="media-heading">
          <%= painting.title %>
        </h4>
        <%= painting.size %><br>
        <%= painting.medium %><br>
        <%= painting.price %>
      </div>

    </div>

  <% end %>
</div>
