<div class="row px-5 py-1">
  <h4><span class="badge badge-warning"><%= @category.name %></span></h4>
</div>

<div class="row px-5 py-1">
  <span class="badge badge-primary">
    <% if @reverse == false %>
      <%= link_to 'sort: new to old', category_path(@category, reverse: 't'), class: "text-reset text-decoration-none" %>
    <% end %>

    <% if @reverse == true %>
      <%= link_to 'sort: old to new', category_path(@category, reverse: 'f'), class: "text-reset text-decoration-none" %>
    <% end %>
  </span>
</div>

<div class="media portfolio d-flex flex-column justify-content-start">
  <% @paintings.each do |painting| %>

    <div class="d-flex flex-row mb-auto p-4">

      <div class="media-left">
        <% if painting.image.attached? %>
          <%= link_to painting.image do %>

            <% if painting.new? %>
              <%= render 'categories/label', name: "new" %>
           <% end %>

            <% if painting.sold? %>
              <%= render 'categories/label', name: "sold" %>
            <% end %>

            <%= image_tag painting.image, class: "media-object" %>
          <% end %>
        <% end %>
      </div>

      <div class="media-body">
        <h4 class="media-heading">
          <%= painting.title %>
        </h4>
        <%= painting.size %><br>
        <%= painting.medium %><br>
        $<%= painting.price.tr('$', '') %>
      </div>

    </div>

  <% end %>
</div>
