<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Jurgita Dishman</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse justify-content-end navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav text-right text-lg-left">
      <li class="nav-item">
        <a class="nav-link <%= 'font-weight-bold active' if current_page?(root_path) %>" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'font-weight-bold active' if current_page?(about_index_path) %>" href="<%= about_index_path %>" >About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link <%= 'font-weight-bold active' if current_page?(exhibitions_path) %>" href="<%= exhibitions_path %>" >Exhibitions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle <%= 'font-weight-bold active' if params[:controller] == 'categories' %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Portfolio
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <% @nav_categories.each do |cat| %>
            <% if cat.paintings.count > 0 %>
              <%= link_to cat.name, category_path(cat), class: "dropdown-item" %>
            <% end %>
          <% end %>
        </div>
      </li>

      <% if admin? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-danger <%= 'font-weight-bold' if params[:controller] == 'admin/categories' %>" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admin
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <%= link_to "update paintings", admin_categories_path, class: "dropdown-item" %>
            <%= link_to "new category", new_admin_category_path, class: "dropdown-item" %>
            <%= link_to "leave admin", admin_logout_path, class: "dropdown-item" %>
          </div>
        </li>
      <% end %>

    </ul>
  </div>
</nav>
